<% provide :header_left, link_to('Atrás', ronda_path(@ronda)) %>
<% provide :header_title, "Visitas" %>
<% provide :header_right, link_to('Agregar',  new_ronda_visita_diaria_path(@ronda), "data-icon" => :plus, class: "ui-btn-right") %>

<ul data-role="listview" data-inset="true" >
<% @visita_diarias.each do |visita_diaria| %>
	<li><%= link_to visita_diaria.juzgado.nombre_completo, ronda_visita_diaria_path(@ronda, visita_diaria) %></li>
<% end %>
</ul>

