<% provide :header_left, link_to('Atrás', juzgados_path) %>
<% provide :header_title, "Ver Juzgado"%>
<% provide :header_right, link_to('Editar', edit_juzgado_path(@juzgado)) %>
<ul data-role="listview" data-inset="true">
	<li>
	  <b>Nombre:</b>
	  <%= @juzgado.nombre %>
	</li>
	
	<li>
	  <b>Dirección:</b>
	  <%= @juzgado.direccion %>
	</li>
	
	<li>
	  <b>Ciudad:</b>
	  <%= @juzgado.ciudad.nombre %>
	</li>
</ul>
